.kyc {
    /* background-image: url('../../assets/images/Farmer_03b.png'); */
    height: fit-content;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background: linear-gradient(90deg, #67e6dc 0%, #8ec5fc 50%, #e0c3fc 100%);


}
.kyccomponent
{
    background-color: #E4E4E4;
    height:fit-content;
    border-radius: 10px;
    border-top-left-radius: 0px;

}
.amountstatus
{
    
    border-radius: 20px;   
    padding: 20px;
    background-color: white;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    

}
.pending
{
    border-radius:15px;
    width:120px;
    font-weight:bold;
    background-color: #3DAE3D;
}
.form-section {
 
  padding: 40px;
  border-radius: 15px;
  max-width: 1100px;
  margin: auto;
}
.form-control
{
    border-radius: 20px;
}

.form-title {
  color: #e91e63;
  font-weight: 600;
  margin-bottom: 20px;
}

.upload-btn {
  position: absolute;
  right: 15px;
  top: 8px;
  color: gray;
  cursor: pointer;
}

.btn-custom {
  border-radius: 20px;
  padding: 8px 25px;
  font-weight: 500;
}

.btn-save {
  background-color: #b0b0b0;
  color: white;
}

.btn-back {
  background-color: #1f1f1f;
  color: white;
}

.btn-next {
  background-color: #d81b60;
  color: white;
}

.upload-box {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 25px;
  height: 42px;
  display: flex;
  align-items: center;
  background-color: #fff;
  overflow: hidden;
}

.upload-input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.placeholder-text {
  color: #aaa;
  font-size: 14px;
  padding-left: 15px;
  z-index: 1;
}

.upload-icon {
  position: absolute;
  right: 15px;
  width: 18px;
  height: 18px;
  z-index: 1;
}