.home {
    height: fit-content;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background: linear-gradient(90deg, #67e6dc 0%, #8ec5fc 50%, #e0c3fc 100%);



}


.row .col img {
    height: 80px;
    width: 80px;
}

.row .col {
    padding: 20px;
}

.sponsorship {
    background-color: #8ec5fc;

}

.sponsorship-card {
    border-radius: 15px;
    position: relative;


}

.sponsorship-card .row .col {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.sponserbox {
    position: absolute;
    background: linear-gradient(to right, #ff7b00, #ff3300);
    color: black;
    border-radius: 10px;
    padding: 5px;
    left: 40%;
    top: -15px;
    color: white;

}

.sponserboxright {
    position: absolute;
    background: linear-gradient(to right, #ff7b00, #ff3300);
    color: white;
    top: -15px;
    right: 30px;
    border-radius: 10px;
    padding: 5px;


}
.sponserboxright img
{
    height: 18px;
    margin:5px;
    
} 