.login {
    background: linear-gradient(90deg, #67e6dc 0%, #8ec5fc 50%, #e0c3fc 100%);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgsection {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  overflow: hidden;
  height: fit-content;
  width: fit-content;
  gap: 0;
  margin: 0;
  padding: 0;
}



.loginform {
    background: linear-gradient(90deg, #67e6dc 0%, #8ec5fc 50%, #e0c3fc 100%);
    height: 500px;
    width: 500px;
    text-align: center;
    padding:40px;



}
.imgback
{
    margin:0px;
    padding:0px;
    margin-left:-40px
}

.imgback img {
  display: block;
  height: 500px;
  width: 550px;
  margin: 0;
  padding: 0;
}

.logo img {
    height: 150px;
    width: 200px;
}

input {
    height: 30px;
    width: 300px;
    border: none
}

input {
    background-color: transparent;
    /* removes white background */
    color: black;
    /* keep text visible */
    border: none;
    /* optional */
    outline: none;
}

input:focus {
    border: none;
    outline: none;
}

.name,
.password {
    border: 2px solid black;
    border-radius: 30px;
    padding: 10px;
    margin-top: 20px;



}

.btn {
    background-color: #C1206A;
    color: white;
    width: 150px;
    height: 35px;
    margin-top: 20px;
    border-radius: 10px;

}

.bottomtext {
    padding: 10px;
}